<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>

<body>
    <form method='post'>
        Title:
        <input type='text' name='title'>
        <br>
        Author:
        <input type='text' name='author'>
        <br>
        Pages:
        <input type='text' name='pages'>
        <br>
        Year:
        <input type='text' name='year'>
        <br>
        Publisher:
        <input type='text' name='publisher'>
        <br>
        <input type='submit' value='Add book'>
    </form>

</body>
</html>
