<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>

<body>
    <form method='post'>
        <input type='hidden' name='db_id' value={{ db_id }}>
        Title:
        <input type='text' name='title' value={{ title }}>
        <br>
        Author:
        <input type='text' name='author' value={{ author }}>
        <br>
        Pages:
        <input type='text' name='pages' value={{ pages }}>
        <br>
        Year:
        <input type='text' name='year' value={{ year }}> 
        <br>
        Publisher:
        <input type='text' name='publisher' value={{ publisher }}>
        <br>
        <input type='submit' value='Apply changes'>
    </form>

</body>
</html>
