<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="../static/riot.js"></script>
    <script src="../static/inproceedings-edit.js"></script>
    <script src="../static/js/vendor/modernizr.js"></script>
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/foundation.min.js"></script>
    <link rel="stylesheet" href="../static/css/foundation.css" />
</head>
<body>
    <inproceedings-edit></inproceedings-edit>
    <script>
        $(document).foundation();
        riot.mount('inproceedings-edit', { 'inproceedings': {{ inproceedings|safe }}});
    </script>
</body>
</html>
