<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="static/riot.js"></script>
    <script src="static/reference-manager.js"></script>
    <script src="static/js/vendor/modernizr.js"></script>
    <script src="static/js/vendor/jquery.js"></script>
    <script src="static/js/foundation.min.js"></script>
    <link rel="stylesheet" href="static/css/foundation.css" />
</head>
<body>
    <reference-manager></reference-manager>
    <script>
        $(document).foundation();
        riot.mount('reference-manager', { 'books': {{ books|safe }}});
    </script>
</body>
</html>
